<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
  </head>

  <style>
    body {
      font-family: 'Noto Sans TC', sans-serif;
    }
  </style>

  <body>
    <div class="container mt-5">
      <h1 class="h2"><%= reviewMessage %>！</h1>
      <a href="/" class="link-offset-2">返回</a>
    </div>
  </body>
</html>
